.contenedor {
    width: 80%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ficha {
    -webkit-box-shadow: 15px 9px 27px -6px #073c92;
    -moz-box-shadow: 15px 9px 27px -6px #073c92;
    box-shadow: 15px 9px 27px -6px #073c92;
    width: 140px;
    margin: 15px;
    padding: 10px; 
   border: 2px groove #d25151;
   background-color: #69eb24; 
background-image: -webkit-radial-gradient(#69eb24, #ea3434);
background-image: -o-radial-gradient(#69eb24, #ea3434);
background-image: radial-gradient(#69eb24, #ea3434);
    -webkit-border-radius: 45px 45px 45px 45px;
    -moz-border-radius: 45px 45px 45px 45px;
    border-radius: 45px 45px 45px 45px;
    text-align: center;
}

.Menu {
  display: flex;
  justify-content: flex-end; 
}

.header {
  
  justify-content: center;
}

